<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}리뷰 사이트{% endblock %}</title>
    <style>
        /* 스타일 추가 */
        h1 {
            font-size: 10em; /* 예시로 글자 크기를 크게 조정 */
            color: #333; /* 글자 색상 설정 */
            font-family: Arial, sans-serif; /* 글꼴 설정 */
        }
    </style>
</head>
<body>

    <div class="main" id="mainContent">
        <div style="text-align: center; margin-top: 250px;">
        <h1>뭘보노</h1>
    </div>
</body>